#offcanvas {
  background: #f00;
  color: #fff;

  padding: 15px;
  box-sizing: border-box;
  z-index: 1000;

  position: fixed;
  height: 100%;
  overflow-y: auto;
}

#page.offCanvasDisplay {
  float: left;
}
