{#
/**
 * @file
 * Default theme implementation for the public service announcements email notification.
 *
 * Available variables:
 * - messages: An array of message strings.
 *
 * @ingroup themeable
 */
#}

<p>
  {% trans %}
    An important security announcement is available for your Drupal site. You should read the announcement immediately and follow its instructions.
  {% endtrans %}
</p>
<p>
  {% set status_report = path('system.status') %}
  {% trans %}
    See the <a href="{{ status_report }}">site status report page</a> for more information.
  {% endtrans %}
</p>
<p>{{ 'Critical security announcements:'|t }}</p>
<ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>
<p>
  {{ 'To see all public service announcements, visit <a href="@uri">@uri</a>.'|t({'@uri': 'https://www.drupal.org/security/psa'}) }}
</p>
<p>
  {% set settings_link = path('update.settings') %}
</p>
