.language-content-settings-form .field-settings-layout_builder__layout .description {
  background-image: url(../../../misc/icons/e29700/warning.svg);
  background-repeat: no-repeat;
  padding-left: 20px;
}

