/**
 * @file
 * Reset most HTML elements styles for the off-canvas dialog.
 *
 * This is a generic reset. Drupal-specific classes are reset in components.
 */

/**
 * Do not include div in then initial overrides because including div will
 * cause the need for many more overrides in this file.
 */

#drupal-off-canvas *:not(.js-off-canvas-computed-ignore):not(div),
#drupal-off-canvas *:not(.js-off-canvas-computed-ignore):not(svg *),
#drupal-off-canvas *:not(.js-off-canvas-computed-ignore):after,
#drupal-off-canvas *:not(.js-off-canvas-computed-ignore):before {
  all: initial;
  box-sizing: border-box;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: initial;
}

/* Reset size and position on elements. */

#drupal-off-canvas a:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas abbr:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas acronym:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas address:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas applet:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas article:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas aside:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas audio:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas b:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas big:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas blockquote:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas body:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas canvas:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas caption:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas cite:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas code:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas dd:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas del:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas dfn:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas dialog:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas dl:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas dt:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas em:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas embed:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas fieldset:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas figcaption:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas figure:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas footer:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas form:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas h1:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas h2:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas h3:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas h4:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas h5:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas h6:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas header:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas hgroup:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas hr:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas html:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas i:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas iframe:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas img:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas ins:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas kbd:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas label:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas legend:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas li:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas main:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas mark:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas menu:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas meter:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas nav:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas object:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas ol:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas output:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas p:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas pre:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas progress:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas q:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas rp:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas rt:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas s:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas samp:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas section:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas small:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas span:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas strike:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas strong:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas sub:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas sup:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas table:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas tbody:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas td:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas tfoot:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas th:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas thead:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas time:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas tr:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas tt:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas u:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas ul:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas var:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas video:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas xmp:not(.js-off-canvas-computed-ignore) {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/*
 * Override the default (display: inline) for browsers that do not recognize HTML5 tags.
 * IE8 (and lower) requires a shiv: http://ejohn.org/blog/html5-shiv
 */

#drupal-off-canvas article:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas aside:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas figcaption:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas figure:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas footer:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas header:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas hgroup:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas main:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas menu:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas nav:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas section:not(.js-off-canvas-computed-ignore) {
  display: block;
  line-height: normal;
  border-radius: 0;
}

/*
 * Makes browsers agree.
 * IE + Opera = font-weight: bold.
 * Gecko + WebKit = font-weight: bolder.
 */

#drupal-off-canvas b:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas strong:not(.js-off-canvas-computed-ignore) {
  font-weight: bold;
}

#drupal-off-canvas em:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas i:not(.js-off-canvas-computed-ignore) {
  font-style: italic;
}

#drupal-off-canvas img:not(.js-off-canvas-computed-ignore) {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
}

#drupal-off-canvas ul:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas ol:not(.js-off-canvas-computed-ignore) {
  list-style: none;
}

/* reset table styling. */

#drupal-off-canvas table:not(.js-off-canvas-computed-ignore) {
  border-collapse: collapse;
  border-spacing: 0;
}

#drupal-off-canvas table thead:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas table tbody:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas table tbody tr:not(.js-off-canvas-computed-ignore):nth-child(even),
#drupal-off-canvas table tbody tr:not(.js-off-canvas-computed-ignore):nth-child(odd),
#drupal-off-canvas table tfoot:not(.js-off-canvas-computed-ignore) {
  border: 0;
  background: transparent none;
}

#drupal-off-canvas th:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas td:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas caption:not(.js-off-canvas-computed-ignore) {
  font-weight: normal;
}

#drupal-off-canvas q:not(.js-off-canvas-computed-ignore) {
  quotes: none;
}

#drupal-off-canvas q:not(.js-off-canvas-computed-ignore):before,
#drupal-off-canvas q:not(.js-off-canvas-computed-ignore):after {
  content: none;
}

#drupal-off-canvas sub:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas sup:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas small:not(.js-off-canvas-computed-ignore) {
  font-size: 75%;
}

#drupal-off-canvas sub:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas sup:not(.js-off-canvas-computed-ignore) {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

#drupal-off-canvas sub:not(.js-off-canvas-computed-ignore) {
  bottom: -0.25em;
}

#drupal-off-canvas sup:not(.js-off-canvas-computed-ignore) {
  top: -0.5em;
}

/*
 * For IE9. Without, occasionally draws shapes
 * outside the boundaries of <svg> rectangle.
 */

#drupal-off-canvas svg:not(.js-off-canvas-computed-ignore) {
  overflow: hidden;
}

/* Specific resets for inputs. */

#drupal-off-canvas input[type="search"]:not(.js-off-canvas-computed-ignore)::-webkit-search-decoration {
  display: none;
}

#drupal-off-canvas input:not(.js-off-canvas-computed-ignore) {
  margin: 0;
  padding: 0;
}

#drupal-off-canvas input[type="checkbox"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="radio"]:not(.js-off-canvas-computed-ignore) {
  position: static;
  margin: 0;
}

#drupal-off-canvas input:not(.js-off-canvas-computed-ignore):invalid,
#drupal-off-canvas button:not(.js-off-canvas-computed-ignore):invalid,
#drupal-off-canvas select:not(.js-off-canvas-computed-ignore):invalid,
#drupal-off-canvas textarea:not(.js-off-canvas-computed-ignore):invalid,
#drupal-off-canvas input:not(.js-off-canvas-computed-ignore):focus,
#drupal-off-canvas button:not(.js-off-canvas-computed-ignore):focus,
#drupal-off-canvas select:not(.js-off-canvas-computed-ignore):focus,
#drupal-off-canvas textarea:not(.js-off-canvas-computed-ignore):focus,
#drupal-off-canvas input[type="file"]:not(.js-off-canvas-computed-ignore):focus,
#drupal-off-canvas input[type="file"]:not(.js-off-canvas-computed-ignore):active,
#drupal-off-canvas input[type="radio"]:not(.js-off-canvas-computed-ignore):focus,
#drupal-off-canvas input[type="radio"]:not(.js-off-canvas-computed-ignore):active,
#drupal-off-canvas input[type="checkbox"]:not(.js-off-canvas-computed-ignore):focus,
#drupal-off-canvas input[type="checkbox"]:not(.js-off-canvas-computed-ignore):active {
  box-shadow: none;
  z-index: 1;
}

#drupal-off-canvas input[role="button"]:not(.js-off-canvas-computed-ignore) {
  cursor: pointer;
}

#drupal-off-canvas button:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="reset"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="submit"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="button"]:not(.js-off-canvas-computed-ignore) {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  background-image: none;
  border: 0;
  outline: 0;
  overflow: visible;
  text-shadow: none;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

#drupal-off-canvas button:not(.js-off-canvas-computed-ignore):hover,
#drupal-off-canvas input[type="reset"]:not(.js-off-canvas-computed-ignore):hover,
#drupal-off-canvas input[type="submit"]:not(.js-off-canvas-computed-ignore):hover,
#drupal-off-canvas input[type="button"]:not(.js-off-canvas-computed-ignore):hover {
  background-image: none;
  text-decoration: none;
}

#drupal-off-canvas button:not(.js-off-canvas-computed-ignore):active,
#drupal-off-canvas input[type="reset"]:not(.js-off-canvas-computed-ignore):active,
#drupal-off-canvas input[type="submit"]:not(.js-off-canvas-computed-ignore):active,
#drupal-off-canvas input[type="button"]:not(.js-off-canvas-computed-ignore):active {
  background-image: none;
  box-shadow: none;
  border-color: grey;
}

#drupal-off-canvas button:not(.js-off-canvas-computed-ignore)::-moz-focus-inner,
#drupal-off-canvas input[type="reset"]:not(.js-off-canvas-computed-ignore)::-moz-focus-inner,
#drupal-off-canvas input[type="submit"]:not(.js-off-canvas-computed-ignore)::-moz-focus-inner,
#drupal-off-canvas input[type="button"]:not(.js-off-canvas-computed-ignore)::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#drupal-off-canvas textarea:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas select:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="date"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="datetime"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="datetime-local"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="email"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="month"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="number"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="password"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="search"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="tel"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="text"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="time"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="url"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="week"]:not(.js-off-canvas-computed-ignore) {
  height: auto;
  vertical-align: middle;
  border-radius: 0;
}

#drupal-off-canvas textarea[disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas select[disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="date"][disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="datetime"][disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="datetime-local"][disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="email"][disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="month"][disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="number"][disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="password"][disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="search"][disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="tel"][disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="text"][disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="time"][disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="url"][disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[type="week"][disabled]:not(.js-off-canvas-computed-ignore) {
  background-color: grey;
}

#drupal-off-canvas input[type="hidden"]:not(.js-off-canvas-computed-ignore) {
  visibility: hidden;
}

#drupal-off-canvas button[disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas input[disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas select[disabled]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas select[disabled] option:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas select[disabled] optgroup:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas textarea[disabled]:not(.js-off-canvas-computed-ignore) {
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#drupal-off-canvas input:not(.js-off-canvas-computed-ignore):placeholder,
#drupal-off-canvas textarea:not(.js-off-canvas-computed-ignore):placeholder {
  color: grey;
}

#drupal-off-canvas textarea:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas select[size]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas select[multiple]:not(.js-off-canvas-computed-ignore) {
  height: auto;
}

#drupal-off-canvas select[size="0"]:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas select[size="1"]:not(.js-off-canvas-computed-ignore) {
  height: auto;
}

#drupal-off-canvas textarea:not(.js-off-canvas-computed-ignore) {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

#drupal-off-canvas optgroup:not(.js-off-canvas-computed-ignore) {
  color: black;
  font-style: normal;
  font-weight: normal;
}

#drupal-off-canvas optgroup:not(.js-off-canvas-computed-ignore)::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#drupal-off-canvas * button:not(.js-off-canvas-computed-ignore) {
  background: none;
  border: 1px solid grey;
  color: black;
  padding: 0;
  text-decoration: none;
  overflow: visible;
  vertical-align: middle;
  width: auto;
}

#drupal-off-canvas * textarea:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas * select:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas *:not(.js-off-canvas-computed-ignore):not(div) textarea,
#drupal-off-canvas *:not(.js-off-canvas-computed-ignore):not(div) select {
  background: white;
  border: 1px solid grey;
  color: black;
  padding: 0;
  vertical-align: top;
}

/* To standardize off-canvas selection color. */

#drupal-off-canvas :not(.js-off-canvas-computed-ignore)::-moz-selection,
#drupal-off-canvas :not(.js-off-canvas-computed-ignore)::selection {
  background-color: rgba(175, 175, 175, 0.5);
  color: inherit;
}
