/**
 * @file
 * Visual styling for summary and details in the off-canvas dialog.
 */

#drupal-off-canvas details:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas summary:not(.js-off-canvas-computed-ignore) {
  display: block;
  font-family: "Lucida Grande", 'Lucida Sans Unicode', 'liberation sans', sans-serif;
}

#drupal-off-canvas details:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas summary:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas .ui-dialog-content:not(.js-off-canvas-computed-ignore) {
  background: #474747;
  color: #ddd;
}

#drupal-off-canvas summary a:not(.js-off-canvas-computed-ignore) {
  color: #ddd;
  padding-top: 0;
  padding-bottom: 0;
}

#drupal-off-canvas summary a:not(.js-off-canvas-computed-ignore):hover,
#drupal-off-canvas summary a:not(.js-off-canvas-computed-ignore):focus {
  color: #fff;
}

#drupal-off-canvas details:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas summary:not(.js-off-canvas-computed-ignore),
#drupal-off-canvas .details-wrapper:not(.js-off-canvas-computed-ignore) {
  border-width: 0;
  /* Cancel out the padding of the parent. */
  margin: 0 -20px;
  padding: 0 20px;
}

#drupal-off-canvas summary:not(.js-off-canvas-computed-ignore) {
  text-shadow: none;
  padding: 10px 20px;
  font-size: 14px;
  transition: all 0.5s ease;
}

#drupal-off-canvas summary:not(.js-off-canvas-computed-ignore):hover,
#drupal-off-canvas summary:not(.js-off-canvas-computed-ignore):focus {
  background-color: #222;
}

#drupal-off-canvas details[open]:not(.js-off-canvas-computed-ignore) {
  padding-bottom: 10px;
}

#drupal-off-canvas details[open] > summary:not(.js-off-canvas-computed-ignore) {
  background-color: #333;
  color: #eee;
}

#drupal-off-canvas details[open] > summary:not(.js-off-canvas-computed-ignore):hover {
  background-color: #222;
  color: #fff;
}

#drupal-off-canvas details .placeholder:not(.js-off-canvas-computed-ignore) {
  font: inherit;
  color: inherit;
  font-style: italic;
  background: transparent;
}
